In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

df = pd.read_excel('data/2016-01.xls')

                   상품명   판매건수     가격        매출
0                   봉투  12362     50    618100
1                  바나나   4285   3900  16711500
2                   야채   4190      0         0
3                 켐벨포도   2780  29800  82844000
4                 알뜰특란   2768   5300  14670400
..                 ...    ...    ...       ...
195                바지락    253      0         0
196            해표)카놀라유    253   5600   1416800
197             오)자른당면    252   5850   1474200
198           롯데)알뜰소시지    252   4400   1108800
199  한돈앞다리/불고기,찌개(국내산)    252      0         0

[200 rows x 4 columns]

#### 판다스 데이타프레임의 기본적인 정보 얻어오기

- 앞에 10개 행 보기
- 뒤에 10개 행 보기

- 판매건수에서 큰 값 순으로 10개 (nlargest()이용)
- 판매건수에서 작은 값 순으로 10개 (nsmallest()이용)

In [9]:
print(df.head(10))
print(df.tail(10))
print(df['판매건수'].nlargest(10))
print(df['판매건수'].nsmallest(10))

     상품명   판매건수     가격        매출
0     봉투  12362     50    618100
1    바나나   4285   3900  16711500
2     야채   4190      0         0
3   켐벨포도   2780  29800  82844000
4   알뜰특란   2768   5300  14670400
5     딸기   2234      0         0
6  팔음산포도   2161  19800  42787800
7     봉투   2038     30     61140
8    애호박   1962   1490   2923380
9   청양고추   1901      0         0
                   상품명  판매건수    가격       매출
190              황도복숭아   258     0        0
191       CJ)주부초밥왕(소풍)   256  3750   960000
192     온동네광천파래재래김(전장)   255  2550   650250
193              새송이버섯   255     0        0
194            CJ)행콩나물   253  1950   493350
195                바지락   253     0        0
196            해표)카놀라유   253  5600  1416800
197             오)자른당면   252  5850  1474200
198           롯데)알뜰소시지   252  4400  1108800
199  한돈앞다리/불고기,찌개(국내산)   252     0        0
0    12362
1     4285
2     4190
3     2780
4     2768
5     2234
6     2161
7     2038
8     1962
9     1901
Name: 판매건수, dtype: int64
197    252
198    252
199    252
194    253
195    253
196    253
192    255
193    255
191    256
190    258
Name: 판매건수, dtype: int64

#### 컬럼으로 추출

- 컬럼명들을 출력
- 판매건수 데이타 출력

#### 행에서 데이타 추출

- 야채, 딸기, 봉투행을 추출하여 매출순으로 정렬하기 (sort_values()이용)
- 바나나행부터 딸기행까지 추출
- 야채부터 딸기행까지 추출

#### 일련번호로 데이타 추출

- 1번째 행 레코드 출력
- '바나나' 행 레코드 출력

#### 조건으로 검색

- 가격이 10000 초과 상품 출력
- 가격이 10000에서 20000 사이 상품 출력

#### 판매건수로 정렬

#### 연속적(chain)으로 데이타 추출


가격순으로 정렬하되 판매건수와 가격만 추출