## 파이썬의 리스트와 튜플

In [4]:
## (1) 22, 44, 11 요소의 리스트 a_data 생성
## (2) 길자, 길동, 길길 요소의 튜플 b_data생성
## (3) b_data 튜플을 a_data 리스트에 추가

a_data = [22,44,11]
b_data = ('길자','길동','길길')
print(type(a_data))
print(type(b_data))

a_data.append(b_data)
print(a_data)

<class 'list'>
<class 'tuple'>
[22, 44, 11, ('길자', '길동', '길길')]

In [8]:
## (4) b_data에서 2번째 요소까지 출력

print(b_data[:2])

('길자', '길동')

In [10]:
## (5) a_data를 튜플로 변경
##      11을 10으로 변경하려면?

a_data = tuple(a_data) #a_data를 튜플로 변경

a_data = list(a_data) #a_data를 리스트에 넣음

a_data[2] = 10 #a_data 2 index 값을 10으로 변경

a_data = tuple(a_data) #a_data를 튜플로 변경

print(a_data[:]) #a_data 출력

(22, 44, 10, ('길자', '길동', '길길'))

##  리스트 복습

- append(추가요소) : 리스트 맨 마지막에 하나 추가

- pop() : 마지막요소를 지움

- extend([추가요소들]) : 리스트 마지막에 여러 개 추가

- remove('요소값') : 해당 요소값 지움

---

- insert(idx, '데이타') : 원하는 위치에 자료 삽입

---
[슬라이싱]

- 리스트명(n:m) : n부터 m-1까지 데이타 추출

In [15]:
movies = ['어밴져스','기생충','가디언스갤럭시','어떤영화','유명한 영화']
movies

['어밴져스', '기생충', '가디언스갤럭시', '어떤영화', '유명한 영화']

(1) '어젠져스2' 추가

In [16]:
movies.append('어벤져스2')
print(movies)

['어밴져스', '기생충', '가디언스갤럭시', '어떤영화', '유명한 영화', '어벤져스2']

(2) 마지막요소 제거

In [25]:
movies.pop()

'어벤져스2'

(3) '어벤져스2','기생충2' 요소를 한꺼번에 추가

In [26]:
movies.extend(['어벤져스2','기생충'])
print(movies)

['어밴져스', '기생충', '가디언스갤럭시', '어떤영화', '유명한 영화', '어벤져스2', '기생충']

(4) '어벤져스2' 요소 제거

In [27]:
movies.remove('어벤져스2')
print(movies)

['어밴져스', '기생충', '가디언스갤럭시', '어떤영화', '유명한 영화', '기생충']

(5) 네번째 위치에 '오래된 영화' 추가

In [29]:
movies.insert(4,'오래된영화')
print(movies)

['어밴져스', '기생충', '가디언스갤럭시', '어떤영화', '오래된영화', '유명한 영화', '기생충']

(6) 영화목록에서 3번째에서 5번째까지 추출

In [30]:
print(movies[3:6])

['어떤영화', '오래된영화', '유명한 영화']